body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.legend {
  color :#1891FF;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.size {
  width: 25px;
  height: 25px;

}



.positions {
  width: 200px;
}

.positiondiv {
  margin-top: 30px;
  margin-left: 50px;
  width: 150px;
  height: 50px;
  border: solid #0091FF 1px;
}

.ulBackground {
 
  background-color:white;

}

.inputsize {
  font-size: 14px;
  padding: 5px;
  
}


li {
  list-style-type: none;
  
  font-style: italic;
  font-family: sans-serif;
}

li:hover {
  background-color:rgba(0, 145, 255, 0.28);

}

.positioninput {
  width: 150px;
  height: 25px;
}



.flexb {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-left: 5px;
  color:rgb(0, 145, 255);
}

.fonts{
  font-size: 14px;
}

.flex {
  display: flex;
}

.borders{
  border: solid rgba(169, 177, 177, 0.596) 2px;
  margin-top: 2px;
}
.point:hover {
  cursor: pointer;
}

.show {
  display: none;
}

.arrow {
  width: 20px;
  height: 20px;
  position: relative;
  top: -25px;
  left: 155px;
}

ul {

  margin-left: -40px;
  margin-top: -20px;

}

input{
  border: solid #0091FF 1px ;
  font-size: 10px;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
}



 ::placeholder {
  color: #0091FF;
}


.toggle {
visibility: hidden;
}

.selectsize{
  width: 300px;
}